earthengine-api
git+https://github.com/Metodos-Mixtos/metodos-mixtos.git
geopandas
ipykernel
jupyterlab
matplotlib
seaborn
geedim
mapclassify
contextily
rasterstats
imageio
folium
rasterio
openpyxl
python-dotenv
planet
geemap
shapely
xarray
rioxarray
sentinelsat
dotenv
gcsfs