# Core dependencies
numpy
pandas
matplotlib

# Geospatial
geopandas
shapely>=2.0
rasterio
fiona
pyproj

# Mapping
folium
branca

# Google Earth Engine
earthengine-api

# Utilities
python-dotenv
requests
git+https://github.com/Metodos-Mixtos/metodos_mixtos.git@main
gcsfs
